:root   {
    --primaryColor: #371d5c;
    --secondaryColor: #f4c371;
    --tertiaryColor: #923267;
    --fourthColor: #260e42;
    --additionalColor: #a9dbce;
    --accentColor: #e96aa1;
    --accentColorOpague:rgba(233,106,161,0.8);
    --secondYellow: #fec260;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {


    font-family: 'Cairo', Helvetica, Arial, sans-serif;
}
.logo   {
    z-index: 1;
}

/*Header Styling and Menu Navbar Styling*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primaryColor);
    margin: 0;
    padding: 5px;
    
    
}

.largerResNav  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

}

.largerResNav  nav button {
    margin: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
    
}

/*Hero Image Styling*/
.hero   {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../images/heroImage2.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    height: 240px;
    border: 2px solid var(--fourthColor);  
}

/*Modal Styling*/
.modalContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--accentColorOpague);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    transition: all 0.4s ease; 
    
}

/*open and close modal*/
.open   {
    opacity: 1;
    transform: scale(1);
   pointer-events: auto;
}

.modal  {
    background-color: whitesmoke;
    margin: 0 auto;
    height: 90vh;
    width: 85vw;
    max-width: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

/*Media Queries*/

@media screen and (min-width: 481px)    {
    .hero   {
        background-image: url("../images/heroImage3.png");
        background-size: cover;
        background-position: right;
    }
}
@media screen and (min-width: 1024px)    {
    .hero   {
        background-image: url("../images/heroImage3.png");
        background-size: contain;
        background-position: right;
    }
}
/*Additional styling to work with Tailwind CSS*/
.sectionBorder    {
    background-color: var(--primaryColor);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}
.mainSection   {
    background-color: var(--secondYellow);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

/*Dynamicall Generated HTMl*/
#dashboard  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
/* .card-container {
 
}  */

.list-group  {
    border: .2em solid var(--primaryColor);
    background-color: white;
    border-radius: 1em;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    width: 10em;
    height: 15em;
    /* padding-top: 2em; */
    margin: 0 1em;
    text-align: center;
    

}
.rank-item {
    margin: 0;
    padding: .5em;
    background-color: var(--secondYellow);
    font-weight: bold;
    border-top-right-radius: .75em;
    border-top-left-radius: .75em;
}

/*News Section Styling*/

.link-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
}
.news-card  {
    width: 15rem;
    height: 15rem;
    margin: 1rem 5rem;
    
}

.news-card img{
    height: 10em;
    border-radius: 1em;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    margin-top: 1em;
    margin-left: auto;
    margin-bottom: 0.5em;
    margin-right: auto;
    border: 2px solid var(--accentColor);
    
}

.news-card a   {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: var(--primaryColor);
    text-align: center;
}

/*Form Styling*/
.form   {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .input-value  {
    border: 2px solid var(--accentColor);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    text-align: center;
}

.form button    {
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}